*
{
	box-sizing: border-box;
}
.row
{
	width: 100%;
}
@media (min-width: 992px) 
{ 
  .col-l-4 
  {
    float: left;
    width: 33.33%;
    margin:10px 0px 10px 0px;
  }
}
@media (min-width: 768px) and (max-width: 992px) 
{
  .col-m-6
  {
    float: left;
    width: 50%;
    margin:10px 0px 10px 0px;
  }
  .col-m-12 
  {
    float: left;
    width: 100%;
    margin:10px 0px 10px 0px;
  }
}
@media(max-width: 767px) 
{
  .col-s-12 
  {
    float: left;
    width: 100%;
    margin:10px 0px 10px 0px;
  }
}
section
{
  border:3px solid black;
  margin:10px;
  font-size: 18px;
  background-color: grey;
  color:white;
  border-radius: 20px;
}
.head
{
  border-left:3px solid black;
  border-bottom:3px solid black;
  float:right;
  font-size: 20px;
  font-weight: bold;
  text-align: middle;
  padding: 10px 20px 10px 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 10px;
}
p
{
  clear:right;
  padding: 10px;
  min-height:250px;
  font-family: "Lucida Console", Courier, monospace;
}
.sub1
{
  color:white;
  background-color:#218fcf; 
}
.sub2
{
  color:white;
  background-color: #ab2230;
}
.sub3
{
  color:white;
  background-color: #42b01e;
}
h1
{
  font-size: 40px;
  padding: 20px;
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
}